package com.apigen.{package_name}.ui.controllers;

import java.util.HashSet;
import java.util.List;
import java.util.Set;

import org.apache.logging.log4j.LogManager;
import org.apache.logging.log4j.Logger;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.http.ResponseEntity;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;

import com.tech.hispania.apigen.{package_name}.app.exceptions.ApiGenException;
import com.tech.hispania.apigen.{package_name}.app.services.{api_name}Service;
import com.tech.hispania.apigen.domain.model.ApiGenEntity;
import com.tech.hispania.apigen.domain.model.ApiGenProperty;
import com.tech.hispania.apigen.domain.model.PropertyType;
import com.tech.hispania.apigen.{package_name}.ui.dto.mapping.{entity_name}Mapping;
import com.tech.hispania.apigen.{package_name}.ui.dto.{entity_name}CreateRequestDTO;
import com.tech.hispania.apigen.{package_name}.ui.dto.{entity_name}CreateResponseDTO;
import com.tech.hispania.apigen.{package_name}.ui.dto.{entity_name}ReadResponseDTO;
import com.tech.hispania.apigen.{package_name}.ui.dto.ResponseDTO;

@RestController
@RequestMapping("/{entity_name}")
public class {entity_name}Controller {

	private static final Logger logger = LogManager.getLogger({entity_name}Controller.class);
	
	@Autowired
	private {entity_name}Service service;
	
	@Autowired
	private {entity_name}Mapping mapping;
	
	@PostMapping
	public ResponseEntity<ResponseDTO> create({entity_name}CreateRequestDTO dto) {
		logger.info("Create request. {}", dto);
		
		{entity_name} result = service.save(mapping.parseToEntity(dto));
				
		{entity_name}CreateResponseDTO response = new {entity_name}CreateResponseDTO();
		response.set{entity_name}(result);
		return ResponseEntity.ok(response);
	}
	
	@GetMapping
	public ResponseEntity<ResponseDTO> read() {
		logger.info("Read all request");
		
		List<{entity_name}> result = service.findAll();
				
		{entity_name}ReadResponseDTO response = new {entity_name}ReadResponseDTO();
		response.setRecords(result);
		return ResponseEntity.ok(response);
	}
}
