package com.apigen.{package_name}.ui.dto.mapping;

{mapping_imports}

public class {entity_name}Mapping {

	public static {entity_name} parseCreateRequestDTOToEntity({entity_name}CreateRequestDTO dto) {
		{entity_name} entity = new {entity_name}();
		 
		{create_request_mapping_to_entity_setters}
		 
		return entity;
	}
	
	public static {entity_name}CreateResponseDTO parseEntityToCreateResponseDTO({entity_name} entity) {
		{entity_name}CreateResponseDTO dto = new {entity_name}CreateResponseDTO();
		
		{create_response_mapping_to_dto_setters}
		
		return dto;
	}
}